<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> All transactions
        </div>
        <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                      <th>Customer Name</th>
                      <th>TransactionDate</th>
                      <th>Transaction Ref No</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let t of transactions">
                      <td> {{ t.customerName }} </td>
                      <td> {{ t.timeStamp }} </td>
                      <td> {{ t.transactionRefNo }} </td>
                      <td>
                        <span [ngClass]="{'badge badge-success' : t.posTransactionNumber !== null }">utilized</span>
                        <span [ngClass]="{'badge badge-danger' : t.posTransactionNumber === null }">new</span>
                      </td>
                    </tr>
                  </tbody> 
            </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
