<div class="card">
    Selected: {{selectedName}}
    <table datatable id="clientsT" class="table table-hover" cellspacing="0" [dtTrigger]="dtTrigger">
        <thead>
          <tr>
              <th>Name</th>
              <th>Physical Location</th>
              <th>Tills</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let b of branches; let i = index" (click)="selectRow(i, b)" [ngClass] = "{'highlight' : i == selectedRow}">
              <td>{{b.name}}</td>
              <td>{{b.physicalLocation}}</td>
              <td>{{b.tillNumbers | arrayToCommaDelimited}}</td>
            </tr>
        </tbody>
    </table>
</div>
