<p-toast></p-toast>
<h3>organization-units</h3>
<p-tree [value]="orgUnits" layout="horizontal" selectionMode="single" [(selection)]="selectedOrgUnit" [contextMenu]="cm" ></p-tree>
<p-contextMenu #cm [model]="items"></p-contextMenu>
<p-dialog *ngIf="displayOrgDetailsForm === true"
header="Details" 
[(visible)]="displayOrgDetailsForm" 
[responsive]="true" 
showEffect="fade"
[modal]="true" 
[style]="{width: '300px'}">
    <div class="ui-g ui-fluid" *ngIf="model">
     <app-organization-unit-details [model]="model"
     [orgUnits]="orgUnits"
     [action]="action"></app-organization-unit-details>
    </div>
</p-dialog>