<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <app-chart-body *ngIf="isDataAvailable"
      [mainChartData]="mainChartData" 
      [mainChartLabels]="mainChartLabels" 
      [mainChartOptions]="mainChartOptions" 
      [mainChartColours]="mainChartColours" 
      [mainChartLegend]="mainChartLegend" 
      [mainChartType]="mainChartType"
      [cardTitle]="cardTitle1"></app-chart-body>
    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Total Transactions</div>
          <strong> {{ sumCount }} </strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md mb-sm-2 mb-0">
          <div class="text-muted">Total Amounts</div>
          <strong> {{ sumTotals }} </strong>
          <div class="progress progress-xs mt-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
      <div class="card-body">
        <app-chart-body  *ngIf="isDataAvailable2" 
        [mainChartData]="mainChartDataTotals" 
        [mainChartLabels]="mainChartLabels" 
        [mainChartOptions]="mainChartOptions2" 
        [mainChartColours]="mainChartColours" 
        [mainChartLegend]="mainChartLegend" 
        [mainChartType]="mainChartType"
        [cardTitle]="cardTitle2"></app-chart-body>
      </div>
      <div class="card-footer">
        <div class="row text-center">
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Total Transactions</div>
            <strong> {{  sumCount }} </strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Total Amounts</div>
            <strong> {{ sumTotals }} </strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
