<div [formGroup]="form">
    <label [attr.for]="ctrl.key">{{ctrl.label}}</label>
   
    <div [ngSwitch]="ctrl.controlType">
   
      <input *ngSwitchCase="'textbox'" [formControlName]="ctrl.key"
              [id]="ctrl.key" [type]="ctrl.type">
   
      <select [id]="ctrl.key" *ngSwitchCase="'dropdown'" [formControlName]="ctrl.key">
        <option *ngFor="let opt of ctrl.options" [value]="opt.key">{{opt.value}}</option>
      </select>
   
    </div> 
   
    <div class="errorMessage" *ngIf="!isValid">{{ctrl.label}} is required</div>
  </div>