<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> 
          <div class="row">
            <div class="col-md-9">All Branches</div>
            <div class="col-md-1">
                <ul id="context1" class="dropdown-menu">
                    <li><a ng-click="edit()">Edit</a></li>
                    <li><a ng-click="link()">Link</a></li>
                    <li><a ng-click="delete()">Delete</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="properties()">Properties</a></li>
                  </ul>
            </div>
          </div>  
        </div>
        <div class="card-body">
            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped table-sm">
                <thead>
                    <tr>
                      <th>Name</th>
                      <th>Physical Location</th>
                      <th>Till Numbers</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let b of branches">
                      <td> {{ b.name }} </td>
                      <td> {{ b.physicalLocation }} </td>
                      <td> {{ b.tillNumbers | arrayToCommaDelimited }} </td>
                    </tr>
                  </tbody> 
            </table>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
