<div class="card-header-actions">
<button 
type="button" 
class="btn btn-sm btn-primary"
(click)= "Create()">
<i class="icon-plus"></i> 
Create 
</button>

<button 
type="button" 
class="btn btn-sm btn-secondary"
(click)= "Read()">
<i class="cui-info"></i> 
Details 
</button>

<button 
type="button" 
class="btn btn-sm btn-warning"
(click)= "Update()">
<i class="cui-pencil"></i> 
Edit 
</button>

<button 
type="button" 
class="btn btn-sm btn-danger"
(click)= "Delete()">
<i class="cui-circle-x"></i> 
Delete 
</button>
</div>