<div class="card-header-actions">
<button 
type="button" 
class="btn btn-sm btn-primary"
(click)= "actionMenuClick(DynamicFormActions.Create)">
<i class="icon-plus"></i> 
Create 
</button>

<button 
type="button" 
class="btn btn-sm btn-secondary"
(click)= "actionMenuClick(DynamicFormActions.Read)">
<i class="cui-info"></i> 
Details 
</button>

<button 
type="button" 
class="btn btn-sm btn-warning"
(click)= "actionMenuClick(DynamicFormActions.Update)">
<i class="cui-pencil"></i> 
Edit 
</button>

<button 
type="button" 
class="btn btn-sm btn-danger"
(click)= "actionMenuClick(DynamicFormActions.Delete)">
<i class="cui-circle-x"></i> 
Delete 
</button>
</div>