<div class="card-header-actions">
<button 
type="button" 
class="btn btn-sm btn-primary"
(click)= "actionMenuClick('CREATE')">
<i class="icon-plus"></i> 
Create 
</button>

<button 
type="button" 
class="btn btn-sm btn-secondary"
(click)= "actionMenuClick('DETAILS')">
<i class="cui-info"></i> 
Details 
</button>

<button 
type="button" 
class="btn btn-sm btn-warning"
(click)= "actionMenuClick('EDIT')">
<i class="cui-pencil"></i> 
Edit 
</button>

<button 
type="button" 
class="btn btn-sm btn-danger"
(click)= "actionMenuClick(DynamicFormActions.Delete)">
<i class="cui-circle-x"></i> 
Delete 
</button>
</div>